
html { 
font-size: 100%; 
overflow-y: scroll; 
}

body { 
font-family: sans-serif; 
color: #222; 
margin: 0; 
font-size: 1em; 
line-height: 1.4;
}

h1 {
	text-align: center;
}

a { color: #2d12d3; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

ul, ol { 
margin: 1em 0; 
padding: 0 0 0 40px;
}

img { 
border: 0; 
vertical-align: middle;
width: 60%;
}

table { 
width: 100%;
border-collapse: collapse; 
border-spacing: 0;
border: 0;
}

td { 
vertical-align: top;
border: 0;
padding: 2px;
}

td.general{
	width: 50%;
	text-align: left;
	padding: 10px;
}

td.photo{
	text-align: right;	
}

td.section{
	text-align: center;
	background: #dcdcdc;
}

.container {
	width: 90%;
	max-width: 800px;
	margin: 0 auto;	
	text-align: left;
}






